.personalDetails form ol li select{
    width:110px;
}

.personalDetails form ol li input[type=text]{
    width:110px;
}

.personalDetails form ol.fieldsInLine li
{
    width:145px;
    margin-bottom:0;
}

