.personalDetails form ol li select{
    width:170px;
}

.personalDetails form ol li input[type=text]{
    width:161px;
}

.personalDetails form ol.fieldsInLine li
{
    width:185px;
    margin-bottom:0;
}

